[2014-10-15 13:08] MaffooBristol opened #2 "Publish to NPM"
What the title says really!

[2014-10-19 17:04] #2 closed, assigned to nobody

[2014-12-23 13:53] luis-alvarez opened #5 "Url not found on server when trying to send an email"
Hi,
I'm trying to use this node module, but when I try to send an e-mail I get:
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server.</p><p>If you entered the URL manually please check your spelling and try again.</p>
Will much appreciate your help. Thanks!

[2015-01-06 02:37] androidfred commented on #5
@luis-alvarez

[code]

[2015-01-29 16:53] schickling opened #7 "Checkout other mailgun transport package"
https://github.com/bandwidthcom/nodemailer-mailgunapi-transport

I choose this one because yours unfortunately doesn't work for HTML mails.

[2015-02-08 21:25] skyYaga opened #8 "Publish 0.0.2 to npm"
Hi there!

Can you please publish 0.0.2 to npm?
That would be really nice.

Greets
yaga

[2015-02-11 19:52] MetaMemoryT commented on #8
:+1:

[2015-02-11 19:55] MetaMemoryT commented on #5
This should be added to README.md, would make usage more user friendly.

[2015-02-11 20:04] luis-alvarez commented on #5
I actually opted to use mailgun smtp if it helps someone. Can't remember if @androidfred solution worked.

[2015-02-11 21:18] MetaMemoryT commented on #5
It's working for me at the moment.

[2015-02-14 02:54] orliesaurus commented on #7
Okay.

[2015-02-14 02:54] #7 closed

[2015-02-14 02:55] orliesaurus commented on #8
Publishing

[2015-02-14 02:55] #8 closed

[2015-02-14 03:39] orliesaurus commented on #5
I merged the change in the documentation, thanks :)

[2015-02-14 03:39] #5 closed

[2015-02-21 23:25] Fonger opened #12 "Why use this package?"
I found the following code just working for me.
Any reason to use this package?

[code]

[2015-02-21 23:50] orliesaurus commented on #12
This allows you to send emails through the web-api which can circumnavigate SMTP connections issues. You can use the smtp transport the way you showed, I am not forcing anyone to use the module..lol

[2015-02-21 23:50] #12 closed

[2015-02-24 15:16] dimitarkolev opened #13 "Support for Reply-to missing"
Right now this transport is missing support for replyTo when sending messages.

[2015-02-26 02:38] orliesaurus commented on #13
Hey, you're right! I'll have to add it eventually. Please feel free to contribute to the project :)

[2015-04-11 21:58] amingilani commented on #13
I'd add this myself, if I knew how to! Please @orliesaurus? You'd be an amazing person!

[2015-04-12 10:58] orliesaurus commented on #13
wish granted @amingilani @dimitarkolev check the README.md

[2015-04-12 10:58] #13 closed

[2015-04-16 04:30] dreki opened #14 "Attachments?"
Are attachments not supported? I haven't been able to get them to work. The same code using the sendgrid transport works fine.

[2015-04-19 18:38] orliesaurus commented on #14
they are :+1: just not documented!

[2015-06-08 12:29] akshitgoel commented on #14
Could you please tell how to add attachment as I haven't been able to get them to work as well...

[2015-06-08 15:03] orliesaurus commented on #14
under html, text or whatever add
[code]

[2015-07-07 18:43] wmcmurray commented on #14
Note that in nodemailer, the `attachement` key is in the plural form (`attachments` https://github.com/andris9/Nodemailer#attachments) so if you pass an object with the same format as nodemailer, it won't be seen by this transport. [This pull request](https://github.com/orliesaurus/nodemailer-mailgun-transport/pull/15) intend to fix this.

[2015-07-08 01:53] orliesaurus commented on #14
awesome job :)

[2015-07-08 01:53] #14 closed

[2015-07-27 22:14] ravenlp opened #16 "nodemailer URL attachment support"
I wasn't able to make this kind of attachment work using the current version of the transport:

[code]

In a poor attempt to figure out what was going on it seems like the attachment path string is never turned into a stremeable (buffer) object, looks that the resolveContent method present in the mail object is intended to be used to do this kind of task (https://github.com/andris9/Nodemailer/blob

[2015-11-16 15:29] ernie58 opened #20 "Mailgun error when template isset"
I'm using `nodemailer-mailgun-transport` with loopback js.
When I try to send an e-mail I get the following error back from Mailgun

    { [Error: Sorry: template parameter is not supported yet. Check back soon!] statusCode: 400 }

Apparently, loopback js has a `data.template` property on the `mail` object provided as the first argument in the `send` method. They use it to generate the html provid

[2015-12-06 02:20] orliesaurus commented on #20
Hi Ernie,
What exactly are you proposing ? I am not understanding it clearly.
thanks

[2015-12-06 12:36] ernie58 commented on #20
I'll submit a pull request

[2015-12-06 13:09] ernie58 commented on #20
Seems this was fixed in #17 , sorry!

[2015-12-06 13:09] #20 closed

[2015-12-31 13:45] aredo commented on #16
@orliesaurus i also have the same problem with attachment
i use the module with version `^1.0.1`

![screen shot 2015-12-31 at 8 41 49 pm](https://cloud.githubusercontent.com/assets/201664/12064813/0f4f11cc-afff-11e5-9aba-12c642218875.png)

[2015-12-31 18:25] orliesaurus commented on #16
Happy new year guys, pull requests are welcome ;D

[2016-01-05 10:26] mogadanez opened #21 "from should support structure, not only string"
[code]

now its failed with `Error: Invalid parameter type. from must be of type: string.`

[2016-01-05 16:26] orliesaurus commented on #21
Hello @mogadanez - thanks for opening the issue.
Would you like to open a pull request and propose a fix to this issue?

[2016-02-23 03:17] epitaphmike opened #24 "replyTo field not passing the message header"
I am not 100% if this should be here or the nodemailer repo of @andris9. The issue I am coming across on the mailgun side is messages are being blocked when I set the from from email as the users email who is filling out our form when they have an AOL email address. I know I know... AOL, that aside.

I tried setting the from to an email address on my domain and set the replyTo field to the users A

[2016-02-23 04:08] epitaphmike commented on #24
Seems as if there is already a pull-request for this. It works.
https://github.com/orliesaurus/nodemailer-mailgun-transport/pull/19

[2016-02-23 04:08] #24 closed

[2016-03-11 11:26] iggyZiggy opened #25 "in sendMail callback info (second param) always undefined?"
code:

[code]

output:

[code]

[2016-04-08 19:22] JoshWillik opened #27 "error callback param is undefined instead of null"
I'm not sure if this is a problem with this library or the underlying mailgun library, but it could be fixed by this library regardless.

When an email successfully sends, the error callback param is `undefined`.

This goes against the nodejs callback pattern of using `null` in the absence of an error. [source](http://blog.gvm-it.eu/post/22040726249/callback-conventions-in-nodejs-how-and-why)

Cou

[2016-04-18 17:01] orliesaurus commented on #27
Hi @JoshWillik , that's a valid point - Yes please send PR in - I'll merge it straight in

[2016-04-18 17:02] orliesaurus commented on #25
Thanks for opening the issue @iggyZiggy - will probably be fixed in the next update :) 👍

[2016-04-20 17:27] #27 closed

[2016-06-27 08:37] alekbarszczewski opened #34 "When you will publish 1.2.0 on npm?"
Hey, thanks for this module. Do you know when you will publish v 1.2.0 or higher on npm?

[2016-06-28 07:49] orliesaurus commented on #34
Is this an "issue"?

[2016-06-28 07:49] #34 closed

[2016-06-30 05:06] havokentity opened #37 "Attachments not working"
The attachments are added to the maildata message and also parameter not conforming to nodemailer "attachments" parameter instead of "attachment"

[2016-06-30 05:22] havokentity commented on #37
fixed in https://github.com/havokentity/nodemailer-mailgun-transport

[2016-06-30 05:22] #37 closed

[2016-07-01 11:37] martinhbramwell opened #39 "How to disable consolidate?"
Hi,

I don't need templates. Is there a way to disable `consolidate`?  Perhaps, a `lite` version?

I use `Meteor`.  It aggressively searches for, and warns of absence of, `npm` packages that should have been installed, so I end up with >35 lines of complaints in my server log.

[2016-07-06 00:53] orliesaurus commented on #39
@stevepaulo can reply to this one

[2016-07-06 15:11] martinhbramwell commented on #39
My, (happily working ! ), code looks like this :

    var nodemailer = require('nodemailer');
    var mg = require('nodemailer-mailgun-transport');

    var auth = {
      auth: {
        api_key: Meteor.settings.MAILGUN_KEY,
        domain: Meteor.settings.MAILGUN_DOMAIN
      }
    };

    let mailer = nodemailer.createTransport(mg(auth));

My package.json contains :

    "dependencies": {

[2016-07-06 17:44] stevepaulo commented on #39
I guess I'm a little at a loss here. I'm not familiar with Meteor. Why does it matter that this module includes Consolidate? Why can't you just not use the `template` key?

[2016-07-06 19:37] martinhbramwell commented on #39
Yes.  I am making a mountain out of a mole hill.  I experience **zero** run-time effects.

But, let me clarify, please.

I'm working on a "kickstarter" app.  Kickstarters are typically used by novices or people out to evaluate a technology, so "first impressions" matter a lot.  Grubby execution logs leave a bad impression.

Right now, `nodemailer-mailgun-transport` is making my whole app look slop

[2016-07-07 02:33] orliesaurus commented on #39
@martinhbramwell I'm not sure which part of "do not specify a consolidate template" is not clear?

[2016-07-07 03:12] stevepaulo commented on #39
I don't think he is, @orliesaurus. I think this has to do with how Meteor loads NPM modules and deals with (or doesn't deal with) nested dependencies.

The fact is, @martinhbramwell, this is a Node module that works without causing logspam in Node. I know I don't have the time or the domain knowledge to ensure this module is compatible with Meteor. Perhaps you could fork the project and make a ver

[2016-07-07 03:40] orliesaurus commented on #39
@martinhbramwell show us ur code to see how you're using the module

[2016-07-07 08:57] martinhbramwell commented on #39
[where I use it](https://github.com/warehouseman/meteor-mantra-kickstarter/blob/v0.2.1/server/methods/mail.js)

[where I specify it](https://github.com/warehouseman/meteor-mantra-kickstarter/blob/v0.2.1/package.json)

[where I workaround the problem](https://github.com/warehouseman/meteor-mantra-kickstarter/tree/v0.2.1/.workarounds)

Thank you for your patience.

This is a miniscule problem betwee

[2016-07-07 19:36] orliesaurus commented on #39
Okay so let's close this issue then @martinhbramwell ?

[2016-07-07 19:55] #39 closed

[2016-07-09 15:17] orliesaurus commented on #39
thank you :) 👍

[2016-07-11 21:33] cozuya opened #40 "NPM?"
Hey Orlando great plugin, thank you very much.  Would you mind putting it up on NPM for a little more permanency?

[2016-07-13 21:09] orliesaurus commented on #40
NPM!

[2016-07-14 00:46] #40 closed

[2016-07-14 10:19] freddi301 opened #41 "Sending buffer need to place a buffer in "path""
Document it somewhere o repair
I spent a few hours to find it out

[2016-07-14 15:26] orliesaurus commented on #41
Why don't you write the text that documents this, I will review it and merge it into the project and you will become a contributor :)

[2016-08-05 19:59] gabegorelick opened #42 "Uses /message.mime endpoint"
It seems like a more robust approach would be to use Mailgun's [`/message.mime`](https://documentation.mailgun.com/api-sending.html#sending) endpoint to send raw emails. This is what the nodemailer-ses-transport does, for example: nodemailer already gives you the mime-formatted email, and all you need to do is pipe that to Mailgun.

[2016-08-06 12:38] orliesaurus commented on #42
Would you like to send a pull request with that feature please? It sounds like a nice thing to have

[2016-08-07 09:53] elhigu opened #43 "Transport drops out Content-Disposition and Content-ID headers from attachments"
I'm trying to send mail with embedded images through mailgun transport. I was expecting to see following headers in the received mail:

[code]

but only

[code]

were passed...

Looks like many of the nodemailer options are just dropped here https://github.com/orliesaurus/nodemailer-mailgun-transport/blob/master/src/mailgun-transport.js#L83

[2016-08-08 01:27] orliesaurus commented on #43
Would you like to send a pull request with that feature please?

[2016-08-08 11:18] elhigu commented on #43
I just might if I find how to do it with mailgun APIs :) For fast fix I just changed our app to use smtp transport with mailgun smtp server to get mails going correctly.

[2016-08-08 11:28] elhigu commented on #43
Yeah looks like it is enough to write nodemailer's `attachment.cid` attribute to mailguns `attachment.inline` (https://documentation.mailgun.com/user_manual.html#sending-via-api). I couldn't find if setting `Content-Disposition` value explicitly is possible at all.

[2016-08-08 11:58] elhigu commented on #43
Looks like tests are never even running the code, which converts nodemailer attachment to mailgun one.. (I added debug prints to code, which were never executed).

So fixing this will take some more tIme... If it is ok I'll add also code coverage for test run to see a bit easier which part were actually executed by tests.

[2016-08-08 12:14] elhigu commented on #43
Aaand, yeah `mailgun-js` doesn't support setting inline attribute for attachment... so before this can be fixed `mailgun-js` issue https://github.com/bojand/mailgun-js/issues/103 must be resolved first.

[2016-08-16 11:51] icetee commented on #43
Is it likely that is I cannot embed images in the mail? (Only attachment)

[2016-08-28 10:21] orliesaurus commented on #43
Fixed ?

[2016-08-28 10:21] #43 closed

[2016-08-28 11:38] elhigu commented on #43
@orliesaurus looks like it was implemented in by #45, as far as I can see implementation did seem correct. Pull request didn't have tests so it might work or might not.

[2016-08-30 12:39] orliesaurus commented on #43
👍

[2016-08-30 13:39] icetee commented on #43
Thanks!

[2016-11-03 00:22] jaspersorrio opened #48 "Changing port"
Google only [allows connection on port 2525](https://cloud.google.com/compute/docs/tutorials/sending-mail/using-mailgun#mailgun_smtp_settings).

I've been looking to change the port to no success. How does one change the port to fit this use case?

[2016-11-03 17:02] orliesaurus commented on #48
Great question!
Did you try pass the port in the config object called "auth"

[code]

[2016-11-09 17:50] orliesaurus commented on #21
@mogadanez it's almost been a year, can I close this?

[2016-11-09 17:50] #25 closed

[2016-11-09 17:50] #41 closed

[2016-12-07 17:09] ADumaine commented on #21
Sent a pull request to support address objects.

[2016-12-14 07:54] iamchathu opened #50 "Seems Ignoring headers"
I tried to send email adding

[code]

But it didn't sent with email

[2016-12-22 17:26] orliesaurus commented on #50
@iamchathu can you try:
```  'h:List-Unsubscribe': 'someemail@test.com' ```

[2016-12-23 04:56] iamchathu commented on #50
@orliesaurus

Did you mean this?

[code]

It didn't send the header still. I loaded original email and checked.

I found the documentation of nodemail regarding list options and tested it with below options but it also didn't work.

[code]

[2017-01-21 06:02] suriyaJaay opened #52 "how to send mails to mailing list?"
hi,

pls someone tell me how to send mails to mailing list from my front end.?
am using mailgun api. node as backend. just simple html for front end that has some sender and receiver, body of the message field. i can able to send mail successfully. but i want to send mailing list which in mailgun account. what am trying to say is. i have  50+ contacts in mailgun account named as " my demo list"  i

[2017-01-24 23:08] ADumaine commented on #21
Reworked address objects after being reverted and yesterday sent new pull request that includes tests.

[2017-01-26 16:17] orliesaurus commented on #52
a mailing list has an address, simply email that address with the email you want them to receive

[2017-01-27 17:04] #52 closed

[2017-01-27 17:04] orliesaurus commented on #50
@iamchathu did you figure it out or do you still encounter difficulties with this feature?

[2017-01-27 21:42] iamchathu commented on #50
@orliesaurus I still could get this sorted.

[2017-01-30 02:44] orliesaurus commented on #50
could or couldnt ?

[2017-01-30 07:24] iamchathu commented on #50
Sorry I couldn't

[2017-03-17 13:56] marcosgouvea commented on #50
i need help on that too.

[2017-03-22 04:16] orliesaurus commented on #50
`nodemailerMailgun.sendMail({
  from: 'myemail@example.com',
  to: 'recipient@domain.com',
  cc:'second@domain.com',
  bcc:'secretagent@company.gov',
  subject: 'Hey you, awesome!',
  'h:NAME-OF-YOUR-HEADER': 'SOME-HEADER-VALUE-123',
  html: '<b>HELLO WORLD</b>',
  text: 'HELLO'
}, function (err, info) {
  if (err) {
    console.log('Error: ' + err);
  }
  else {
    console.log('Response: ' + inf

[2017-03-22 04:17] #50 closed

[2017-04-04 13:34] pi-kei commented on #21
Done in #54

[2017-04-13 17:24] Ferrari opened #56 "Not allow array on 'to' field?"
It ok to pass an array as receiver (e.g., to: ['a@abc.com', 'b@abc.com']) if we want to send to multiple receivers at once. However, after upgrade to v1.3 it seems not work anymore and will show following error messages.
[code]
It's ok when I tried downgrade to v1.2.x

[2017-04-15 20:45] JulianJorgensen opened #57 "Inline CSS ?"
Really awesome work @orliesaurus ! Love the plugin.

I'm using pug as template engine and I just can't figure out how to get it to work with either inline-css or Juice

Do you have any ideas?

[2017-04-16 21:36] orliesaurus commented on #56
[code]

[2017-04-16 21:38] orliesaurus commented on #56
also cc'in @ADumaine

[2017-04-17 12:29] Ferrari commented on #56
@orliesaurus object parameter works fine, only array will return error.

[2017-04-17 18:38] #56 closed

[2017-04-18 17:53] Ferrari commented on #56
Any plan publish a new version include this patch?

[2017-04-19 16:20] orliesaurus commented on #56
Very soon

[2017-04-28 02:25] elios264 opened #59 "createTransport for each email?"
Do I need to create the transport for each email I want to send or can I have this just outside the sendEmail function?

`const transporter = nodemailer.createTransport(mg(auth));`

[code]

this is running on a node.js server

[2017-04-30 02:06] itsyogesh commented on #25
For someone who is still looking into this, the second param `info` does return some mailgun specific data. You can look into you mailgun configuration for the errors. If the mailgun auth is not setup correctly it would fail silently. For example, and I did this, setting up an incorrect `DOMAIN NAME`, or the entire `base url` as domain name in auth would fail silently. Learned this the hard way.

[2017-05-03 16:14] orliesaurus commented on #56
Donezo @Ferrari <3 Thank you for your patience

[2017-05-05 05:39] orliesaurus commented on #59
outside

[2017-05-05 05:39] #59 closed

[2017-05-05 05:41] orliesaurus commented on #57
Best advice I can give you is to inline the css with something, then pass it as the html of the email - sorry I am not a big fan of template engines

[2017-05-05 05:41] #57 closed

[2017-05-08 15:38] texels opened #60 "MailgunTransport.send() should not throw errs, but return them to the callback"
The throw is currently causing my process to exit if I give it an invalid template file.

online ~62: if (err) throw err;
should instead be:
if ( err ) {
 return done( err ) // will cause the async series result callback to be invoked with err
}

and ~121: if ( err ) throw err
should instead be:
if ( err ) {
  callback( err )
}

[2017-07-03 14:37] radosch opened #61 "when using template, sending plain text version not possible"
I use a template object as an email template in the transport.
as soon as I use template, the plaintext version doesn't work anymore.

Neither of this versions are working to send a plaintext email beside the Mime content.

[code]
or
[code]

[2017-08-29 11:39] e110c0 opened #63 "replyTo not working"
I've seen #19 but it seems the current code brought this bug back. If I `'h:Reply-To'` field to the message configuration for nodemailer, all is fine. But this breaks with the normal configuration of nodemailer and it is not possible anymore to switch between nodemailer plugins.

[2017-09-16 07:26] orliesaurus commented on #63
Accepting pull requests :)

[2017-09-21 14:03] #63 closed

[2017-11-09 16:37] e110c0 commented on #63
is there a chance to publish this as v1.3.6, I'd rather keep the official project in my code than my fork :)

[2017-12-10 21:44] devotox opened #68 "How to set tags?"

[2017-12-16 21:03] orliesaurus commented on #68
can you please describe what you're trying to achieve a little bit better by providing a description?

[2018-01-02 19:07] #68 closed

[2018-01-05 05:56] rohit-smpx commented on #68
Hi, I have the same issue. This is what he is talking about : https://documentation.mailgun.com/en/latest/user_manual.html#tagging

[2018-01-06 19:06] orliesaurus commented on #68
@rohit-smpx can u try to add:
`'o:tag':'test'`
in the object passed to sendMail?
If it works I will document it

[2018-01-08 06:09] rohit-smpx commented on #68
It works 👍

[2018-01-18 18:35] vinceprofeta opened #70 "X-Mailgun-Variables do not get passed to webhooks"
It looks like X-Mailgun-Variables are not in the white list to get sent to Mailgun. Can this get updated?

[2018-01-18 22:58] orliesaurus commented on #70
Merged

[2018-02-22 21:34] vinceprofeta commented on #70
@orliesaurus I built a version from my fork and this still does not come though the web hook? Do you have any ideas for why tags nor X-Mailgun-Variables come through the webhook?

[2018-02-22 22:18] vinceprofeta opened #71 "Multiple Tags"
There is currently no way to add multiple tags since you pass options to nodemailer as an object.

[2018-02-22 22:25] #71 closed

[2018-02-23 08:28] Romkin7 opened #72 "Template issue"
I made template and gave all parameters it neede to send it.
but i'm receiving this error all the time:
Error: ENOENT: no such file or directory, open '../../views/email/verifyemail.ejs'
here is my code:
"use strict";
const crypto = require('crypto');
const nodemailer = require('nodemailer');
const mg = require('nodemailer-mailgun-transport');
const ejs = require('ejs');
const auth = {
	auth: {

[2018-02-23 18:28] duanefields commented on #42
here's an implementation of just that (coffeescript)

[code]

[2018-03-05 17:58] gabegorelick commented on #42
Here's a JS version:
[code]

Happy to throw up a PR, but this would potentially be a breaking change.

[2018-03-06 14:54] rolftimmermans commented on #60
Yeah this is a serious problem that crashes processes.

Is the fix as straightforward as described above?

[2018-03-09 04:08] orliesaurus commented on #42
Mmmh I don't know about this one ultimately - I don't want to upset all the people - unless it was properly documented and unit tests are added, it'll have to wait :)

[2018-03-24 13:04] fabioel opened #74 "Unhandled rejection Error: 'to' parameter"
Hello!
I have stumbled across a problem that I can't fix. I am trying to send emails to a list of receivers, but the emails should contain individual properties, therefore I cannot just send a bulk email with an array of receivers.
My code looks as follows:
in my method call:
[code]
the mail file:
[code]

This code has worked perfectly fine when I was using nodemailer-transport with gmail, but now

[2018-05-01 11:08] adrukh opened #75 "High severity vulnerability introduced via `mailgun-js@0.13.1`"
Disclaimers:
1. I work for Snyk.
2. Snyk uses `nodemailer-mailgun-transport` in its backend.

There is a high severity vulnerability in `nodemailer-mailgun-transport`, introduced via ` mailgun-js@0.13.1 › proxy-agent@2.1.0 › http-proxy-agent@1.0.0`. See more details on the [test report](https://snyk.io/test/npm/nodemailer-mailgun-transport/1.3.6).

This can be remediated by upgrading the `mailgun-

[2018-05-03 02:27] orliesaurus commented on #75
You have my Bllessing @adrukh.

[2018-05-03 08:30] adrukh commented on #75
@snyk is all about giving developers a way to own the security of their applications :)

I'll refrain from using this issue as a ground for our marketing efforts, but will suggest to add a badge to your readme, letting your users know you care about security!

Something like this:

[![Known Vulnerabilities](https://snyk.io/test/github/orliesaurus/nodemailer-mailgun-transport/badge.svg)](https://sn

[2018-05-05 17:25] adrukh commented on #75
Closing with the release of v1.4.0, thanks for the quick turnaround! Our backend is already vuln-free :)

[2018-05-05 17:25] #75 closed

[2018-05-30 18:42] jmcdo29 commented on #72
Did you ever figure this out? I'm having a problem with the same thing right now.

[2018-09-12 11:03] bajaga commented on #50
This is not working for sure, i tried everything with help and unsubscribe list headers but nothing. What would be the exact example of setting an unsubscribe header?
'h:List-Help': 'SOME-HEADER-VALUE-123' ??

[2018-12-10 12:50] mariohmol commented on #50
Hi @bajaga did u figure it out?

[2018-12-13 05:33] daviduffy commented on #70
I was struggling with this as well. It turns out you can add variables and have them appear in the 'user-variables' hash if you set up your mail options like this:

[code]

I needed to pass a value through a webhook POST in order to attribute it to the correct entry in my DB, and the output from the webhook passed this custom var through perfectly:

[code]

[2018-12-14 05:17] orliesaurus commented on #50
Try a similar approach to https://github.com/orliesaurus/nodemailer-mailgun-transport/issues/70#issuecomment-446847846

[2019-01-17 14:14] francoism90 commented on #72
Just for the record, if `<root>/views/..` is your templates path, use this as `name`, e.g.:
[code]

[2019-02-14 15:59] nicklasfrahm commented on #21
@orliesaurus This seems to be fixed and could potentially be closed.

[2019-05-07 15:24] MichielDeMey commented on #68
Yep, I can confirm that this works. Might want to relabel this issue other than `invalid`?

[2019-05-09 07:05] orliesaurus commented on #68
@MichielDeMey what do you suggest?

[2019-05-09 07:54] MichielDeMey commented on #68
Something like `question`?

[2019-06-05 12:58] alusev opened #79 "'template' does not exist in type 'Options'"
I cannot specify a template. I have the following code:

[code]

This is the error:
`Object literal may only specify known properties, and 'template' does not exist in type 'Options'.`

[2019-06-11 15:58] captaincaius opened #80 "feature: support mailgun templates"
This transport supports templating in-house, but not pointing to one of mailgun's own templates.

A quick one-line hack to whitelist 'template' seems to work on our end, but I believe that would break the existing template functionality, so it would need either:
1. pre-remove that template field if it's an object (kinda hacky)
2. rename the existing template key to something else (backwards breaki

[2019-06-19 20:51] orliesaurus commented on #80
Need more information: what are mailgun's own templates?

[2019-06-19 23:21] captaincaius commented on #80
Sure no problem.

You can save templates in mailgun's UI and then just pass the template name on "template" as a string along with the template variables in json as h:X-Mailgun-Variables.
See here: https://documentation.mailgun.com/en/latest/user_manual.html#templates

The cool thing about doing it this way is that someone can iterate on your email templates without needing to touch any code.

I d

[2019-06-26 22:22] orliesaurus commented on #80
The honest answer is I don't know. I feel like the 1) option is the right option but I am not sure how many people are currently using the current template feature. I wish there was a way to tag @here all people that use this package in NPM and ask their thoughts :)  ahaha
🤔 🤔 🤔

[2019-06-29 00:20] Bramzor opened #81 "Not compatible with nodemailer-smime middleware"
Have tested this plugin today as a fallback method for nodemailer SES transporter but while https://github.com/gazoakley/nodemailer-smime does work with the SES transporter, for some reason it seems to be ignore when using this mailgun transport plugin.

Alternative for me was to fallback to nodemailer SMTP with mailgun credentials. Although I would prefer to use mailgun API.

[2019-06-29 06:40] orliesaurus commented on #80
@captaincaius 3 👍

[2019-07-05 19:01] orliesaurus commented on #81
Have you tested why the support isn't there? what's preventing it from working?

[2019-07-05 22:17] Bramzor commented on #81
I was not able to figure out why it didn't work. Seems like it does just not execute nodemailer-smime and skips it. Has nodemailer-mailgun-transport every been tested with some kind of nodemailer middleware?

[2019-07-08 20:29] orliesaurus commented on #81
No sorry, I haven't personally tested it with smime middleware

[2019-07-13 05:28] harrytang commented on #80
@here

[2019-07-15 04:22] captaincaius commented on #80
PR'ed in #82 - I went with option C as discussed, and documented it :D

[2019-08-19 19:26] partounian commented on #72
@Romkin7 please close this and put the solution at the top of the OP :)

[2019-09-02 15:28] andyli opened #83 "mailgun-js is no longer maintained"
According to the [mailgun-js README](https://github.com/bojand/mailgun-js#maintenance-notice):

Maybe you can take over the maintenance of mailgun-js, or migrate off it and use something else?

Edit:
There is [mailgun.js](https://www.npmjs.com/package/mailgun.js) that is maintained by mailgun itself.

[2019-09-02 20:12] orliesaurus commented on #83
Uh-oh! That's a big problem in the open source community! Thanks for raising the point!

[2019-09-02 21:28] framp commented on #74
This is not a bug in the library and this issue can be closed /cc @orliesaurus

@fabioel:
```Error: 'to' parameter is not a valid address```
One of the `recv` you're sending must not be a valid address

Can you please print `recv` and see what kind of address is throwing an error?

[2019-09-02 21:49] framp commented on #70
X-Mailgun-Variables are now being passed to mailgun /cc @orliesaurus

[2019-09-02 21:51] framp commented on #60
master is not throwing errors anymore /cc @orliesaurus

[2019-09-02 21:53] framp commented on #21
master is handling it /cc @orliesaurus

[2019-09-10 06:43] framp commented on #83
Even the official SDK seems to be de-facto abandoned and mailgun-js works fine
https://github.com/mailgun/mailgun-js/issues/43

Eg: It's not clear from the docs whether official sdk supports attachments

Maybe we should just adopt mailgun-js

[2019-09-11 15:18] #60 closed

[2019-09-16 17:06] #21 closed

[2019-10-01 04:08] #70 closed

[2019-11-16 15:01] jacobbogers commented on #83
Hi, I just noticed your email today, I use mail gun extensively, are you looking for a maintainer?

[2019-12-13 08:35] peterver opened #85 "Econn Reset and socket hang ups"
We've been running against mailgun with a nodejs microservice that uses nodemailer-mailgun-transport for well over a year. But since the past few days I'm seeing a lot of ECONN_RESET and Socket hang ups on the connections going to mailgun.

Is there anything that can possibly be done inside of here to prevent connection issues and socket hang ups from bubbling up the dep chain? AKA handle it inter

[2019-12-13 14:18] orliesaurus commented on #85
@peterver this could possibly be a routing issue between your service and the mailgun servers, do you have any more information you could share to understand if it's something caused by our library?

[2019-12-14 15:17] peterver commented on #85
@orliesaurus this is what I'm seeing inside of our K8s logs for our mailer microservice:

[code]
(IP addresses redacted)

The official response from Mailgun was the following:
[code]

Which doesn't really say a lot as it's supposed to be a reliable delivery service, how reliable can the service be if they don't handle A record caching properly on their side? Is there anything that can be done in h

[2019-12-14 15:19] peterver commented on #85
Out of a batch of approx 1000 mails, less than 50% get succesfully delivered since a couple of days:

![mailgun5](https://user-images.githubusercontent.com/821415/70850685-6d3a9800-1e8d-11ea-99b1-7d3fc15c0824.jpg)

[2019-12-16 14:00] orliesaurus commented on #85
Hi Peter!
I feel the frustration..You should hammer their support team and link them to this thread.
We can't do anything from our side. This is something that needs to be escalated with their devops/networking team and not really something we, community and users, can do on their behalf :(
You can do a public Request for Help on Twitter, or ping @jrodom directly

[2019-12-17 16:29] #74 closed

[2020-01-09 20:07] orliesaurus commented on #85
Hello @peterver have you had any luck in solving your issue, feel free to re-open if you haven't figured it out.

[2020-01-09 20:07] #85 closed

[2020-01-10 20:33] rococosans commented on #83
The API appears to be slightly different between mailgun.js and mailgun-js. Curious to know where everyone stands on this?

[2020-01-20 13:53] EmilienD opened #86 "Add support for custom message id"
According to [the last question in the FAQ](https://documentation.mailgun.com/en/latest/faqs.html#how-do-i-track-which-email-a-recipient-has-replied-to), Mailgun allows setting custom Message-Id, but it seems the transport doesn't allow this. I'm willing to do a PR if you think this is indeed a missing feature.

[2020-01-20 20:24] orliesaurus commented on #86
Sure, please and thank you

[2020-01-21 18:27] #86 closed

[2020-01-22 11:03] kapouer opened #88 "Please allow passing apiKey as alias of api_key"
As in nodemailer-postmark-transport, for example.

[2020-03-25 09:16] peterpro opened #90 "[Get rid of / Patch] mailgun-js"
It's outdated & referencing to broken dependencies (broken in Node >=10), see https://github.com/highlycaffeinated/mailgun-js/issues/246 with root problem in https://github.com/TooTallNate/node-agent-base/issues/35

I'm very grateful for your cool library, but I'm forced to used https://github.com/mailgun/mailgun-js. It's old as God himself, but not breaking my app :(

[2020-04-07 16:13] sk- commented on #83
According to https://github.com/highlycaffeinated/mailgun-js/issues/258, the repo is in the process of being migrated to mailgun org, so it does not seem to be unmaintained anymore.

[2020-04-07 16:18] orliesaurus commented on #83
Good to know!~

[2020-04-07 16:23] #83 closed

[2020-04-08 14:54] ruairidhwm opened #91 "TypeError: Cannot read property 'api_key' of undefined"
I have been using this package without issue in the past, but now get the above error when sending an email.

My code to send matches the documentation, e.g.:

[code]

This fails to work and gives the following error:

[code]

[2020-04-14 08:32] #91 closed

[2020-04-20 21:35] JaquelinaG commented on #79
Any news on this error? I have the same problem!

[2020-06-01 11:48] TheyCallMeFox opened #93 "TypeError: Cannot read property 'id' of undefined"
I'm trying to send email via Nodemailer and Mailgun via this package.
I keep getting this error:
`data: TypeError: Cannot read property 'id' of undefined at Object.send (/app/node_modules/nodemailer-mailgun-transport/src/index.js:126:51)`

This is my code:

[code]

[2020-07-12 18:31] mohit497 commented on #93
I am also getting the same error

[2020-07-16 15:42] MatteoLazzaretti commented on #93
Same error with this

`const auth = {
  auth: {
    api_key: API_KEY,
    domain: DOMAIN
  }
};

const nodemailerMailgun = nodemailer.createTransport(mg(auth));

nodemailerMailgun.sendMail(
  {
    from: REMOVED,
    to: REMOVED, // An array if you have multiple recipients.
    subject: 'Hey you, awesome!',
    //You can use "html:" to send HTML email content. It's magic!
    html: '<b>Wow Big pow

[2020-07-17 08:28] MatteoLazzaretti commented on #93
Resolved.
DOMAIN is sandboxXXXmailgun.org
not https://api.mailgun.net/v3/sandboxXXXmailgun.org

[2020-08-29 16:42] eytanronen opened #96 "Warning: React.createFactory() is deprecated and will be removed"
All working well but getting the following warning:

Warning: React.createFactory() is deprecated and will be removed in a future major release. Consider using JSX or use React.createElement() directly instead

[2020-09-21 15:38] #93 closed

[2020-09-23 03:54] c00 opened #97 "messageId update not published to npm"
PR #87  was merged 8 months ago. However, it seems this change was never published to npm, as the last update to npm was 9 months ago.

Could you publish the latest version to npm?

[2020-09-23 14:01] orliesaurus commented on #97
Good catch :)

[2020-09-30 17:42] #97 closed

[2020-10-02 13:15] captaincaius commented on #80
@orliesaurus I see you closed #82 ... was this addressed some other way?  Or is nodemailer-mailgun-transport not going to support mailgun templates?

[2020-10-05 21:27] orliesaurus commented on #80
@captaincaius If you can fix the conflicts, I am happy to take a look since there's been a rewrite :)

[2020-10-11 19:35] captaincaius commented on #80
@orliesaurus nice rewrite!

I ported the tests over and to my surprise I noticed it supports both options on the `template` key already (i.e. option 1) :+1:

So for the new PR I'll just add the one test, a little note in the README, and maybe a little comment.

[2020-10-14 03:31] #80 closed

[2020-11-16 09:25] WillSquire opened #100 "Error: apiKey value must be defined!"
This isn't working at all for me. When `apiKey` is set it still throws `Error: apiKey value must be defined!` from the `mailgun-js` dependency.

[code]

Versions:
"nodemailer": "^6.4.16",
"nodemailer-mailgun-transport": "^2.0.1",

[2020-11-17 21:50] orliesaurus commented on #100
looks like you have a spelling error on the key name. Compare to this:

[code]

[2020-11-21 17:18] orliesaurus commented on #100
@WillSquire can you let me know?

[2020-11-25 16:08] zgid123 commented on #100
@WillSquire if you use with typescript, ignore the `apiKey` right now. Because my PR is merged but still not released yet

[2020-11-25 16:18] WillSquire commented on #100
Apologies for not getting back. It is indeed the Typescript definition

[2020-11-25 16:20] zgid123 commented on #100
yup, I created that option after this PR #98 was merged, but the @types already released but the version of this package did not

[2020-11-26 01:58] orliesaurus commented on #100
Did I forget to npm publish your version?

[2020-11-26 02:46] zgid123 commented on #100
Yes. I just reinstalled this package again and no new version. Checked the code in node_modules, the code does not contain my change

[2020-11-26 19:29] orliesaurus commented on #100
Alright gonna fix it today! Thank you for reminding me I must ve forgotten woops!

[2020-11-27 04:40] orliesaurus commented on #100
abrakadabra - pushed! Thanks @zgid123

[2020-11-27 05:04] zgid123 commented on #100
thank you, just tested and it worked with `apiKey`

[2020-11-29 17:56] orliesaurus commented on #100
Perfect closing

[2020-11-29 17:56] #100 closed

[2020-12-02 21:48] WillSquire opened #101 "Error: Forbidden inside Kubernetes"
Using this inside of Kubernetes returns `Forbidden` without any other detail, both locally and on the server cluster. Works inside docker/docker compose. Other services accessing external APIs work. All services have access to the internal (tested with `curl`). Get the same error using https://github.com/mailgun/mailgun-js. Any ideas?

[2021-03-30 13:40] vanntile commented on #90
I want to add a heads up to this issue. What would be the minimum necessary to patch this?

[2021-03-30 18:50] bradenmacdonald commented on #90
https://www.npmjs.com/package/mailgun.js is the official replacement

[2021-03-31 13:29] zhyrin opened #103 "high severity vulnerability in netmask plugin"
1. What kind of issue are you reporting?
- A bug in a plugin of nodemailer-mailgun-transport ^2.0.2 (netmask plugin)
- High severity vulnerability

2. State your problem here:
Run "npm audit" or "npm install" with nodemailer-mailgun-transport ^2.0.2
gives me:
  "netmask npm package vulnerable to octal input data"
  "patched in >=2.0.1"

Netmask is used by up to 300k live projects. Vulnerability re

[2021-04-06 19:56] orliesaurus commented on #103
Hey, I tried to patch the `package-lock.json` to use a NON-VULNERABLE version of netmask - I think it worked? Let me know what you're seeing now :)

[2021-04-06 21:52] anachronic commented on #103
Looks fixed to me in a clean checkout + `npm install`

I'm still seeing it through `yarn audit`, though, I suspect it hasn't been published

[2021-04-06 21:58] anachronic commented on #101
I'm using it successfully inside a DigitalOcean Kubernetes cluster. Maybe it has something to do with your particular implementation?

[2021-04-07 22:57] orliesaurus commented on #103
@anachronic I published in npm as `2.0.3` - https://www.npmjs.com/package/nodemailer-mailgun-transport

[2021-04-09 12:40] rfox12 commented on #103
This issue persists.  Please see https://github.com/mailgun/mailgun-js-boland/issues/269 for a hint on how to fix

[2021-04-09 12:54] rfox12 commented on #103
Somewhat disturbing discovery... apparently nodemailer-mailgun-transport has been using a now non-official mailgun library?  Is this an easy swap to the "official" version?  Seems like the proper dependency should be "mailgun.js" and then that will alleviate the security vulnerability (and hopefully help for future issues).  Discussion here: https://github.com/mailgun/mailgun-js/issues/122

[2021-04-09 13:30] zhyrin commented on #103
Yeah just change the dependency and rewrite the code bit of code that are used for the official library.
official plugin: https://www.npmjs.com/package/mailgun.js
deprecated plugin: https://www.npmjs.com/package/mailgun-js (its referenced in mailgun docs, hence the confusion)

official uses '...require=('mailgun.js) as opposed to ...require('mailgun-js')

Tired, but hope it was a tldr

[2021-04-09 22:51] orliesaurus commented on #103
@zhyrin  guess someone is gonna have to do some research to see how much code rewrite is needed

[2021-04-12 08:38] zhyrin commented on #103
not interested

[2021-04-12 13:51] anachronic commented on #103
Is #104 not a fix for this?

[2021-04-12 14:57] orliesaurus commented on #103
great! at least you're honest about how you like open source

[2021-04-12 14:59] orliesaurus commented on #103
let me take a look

[2021-04-12 21:55] #90 closed

[2021-04-23 09:46] Ethan-Hill opened #105 "Error: Error: Forbidden"
Im currently trying to send a email in html text and it seemed to work when i had only a few h1 tags but now when i try to put a full html document into the field it seems to give me the error `Error: Error: Forbidden`

You can find the html code im using here, [code](https://pastecord.com/lyjylohuka.html
)

Any ideas would be greatly appreciated!

[2021-04-23 21:31] #105 closed

[2021-05-04 12:46] omerlh commented on #103
Look like the latest version of mail gun is still vulnerable? https://snyk.io/advisor/npm-package/mailgun-js

[2021-05-04 19:15] orliesaurus commented on #103
@omerlh We've upgraded to the other one - that one is deprecated

[2021-05-05 05:14] omerlh commented on #103
Which one? I can see the latest version is still vulnerable: https://snyk.io/advisor/npm-package/nodemailer-mailgun-transport

[2021-05-06 00:02] anachronic commented on #103
I believe this is solved in master (see #104), however, 2.0.3 (last version published) seems to point to the last commit before the fix.

Although I'm not sure, maybe publishing a new version solves this?

[2021-05-06 18:42] shawncarr commented on #103
@orliesaurus can we get a new release based on @anachronic's point?

[2021-05-06 19:48] orliesaurus commented on #103
Yeah I definitely need to push the update that is in master! Thanks y'all!

[2021-05-06 19:48] #103 closed

[2021-05-07 10:45] axelauvinen commented on #103
Any timeline on this version bump? Should this ticket be closed before the latest version is updated to master?

[2021-05-10 14:52] mogadanez opened #106 "TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer or Uint8Array. Received type boolean (true)"
after upgrade to the latest version start getting error:
[code]

[2021-05-14 21:38] mschoeffmann opened #107 "source.on is not a function with cid attachments"
after upgrading from 2.0.3 to 2.1.3, sending an email throws the following exception:

[code]

this is the base for newly created emails:

[code]

and the problem goes away after removing the line `cid: 'logo@mymail.domain'`

after some reseach, i guess this is related to https://github.com/mailgun/mailgun-js/pull/141 but since the update from 2.0.3 to 2.1.3 broke it, i wanted to keep you informed

[2021-05-19 05:59] TheArKaID commented on #107
I don't even know if `mailgun.js` really fixed the inline image support. They doc is still bad, and the [mailgun/mailgun-js#141](https://github.com/mailgun/mailgun-js/pull/141) just only adds a few things, without any additional doc or test.

[2021-05-19 15:13] orliesaurus commented on #107
Thank you @mschoeffmann

[2021-05-19 15:15] orliesaurus commented on #106
@mogadanez - can you share the code you're using please to send emails?

[2021-05-28 20:20] alminde commented on #107
i'm seeing this error too

big thanks to @mschoeffmann for letting us know which version to downgrade to in the meantime!

[2021-06-07 14:57] bartoszhernas commented on #107
Thank you for this issue, saved me some time digging into what is happening :)

[2021-06-14 02:11] yamila-fraiman opened #108 "SyntaxError: Unexpected end of JSON input"
Hello, sometimes (I can't reproduce) I'm getting this error message in production "SyntaxError: Unexpected end of JSON input" at node_modules/mailgun.js/dist/mailgun.js:2:40191. When I use smtp everything is working ok.

Any idea?

[2021-06-17 19:05] mdakovac opened #109 "SyntaxError: Unexpected token M in JSON at position 0"
I get this error when trying to run the basic example:
[code]

versions:
"nodemailer": "^6.6.1",
"nodemailer-mailgun-transport": "^2.1.3",

[2021-06-20 10:16] idandagan1 commented on #106
Any progress on that?
I'm getting the same issue after upgrading to 2.1.3

[2021-06-22 10:47] orliesaurus commented on #106
Can you share the code that you re using to get this error?

[2021-06-23 02:43] yosefeliezrie commented on #109
getting this exact same error I have tried stripping all code down to the bare bones example as per docs (and you have above) and getting the same error.

`Error: SyntaxError: Unexpected token M in JSON at position 0`

[2021-06-23 02:51] yosefeliezrie commented on #109
Possibly connected to this issue. https://github.com/mailgun/mailgun-js/issues/134 see this comment https://github.com/mailgun/mailgun-js/issues/134#issuecomment-856135049 it has to do with the format of the domain.

[2021-06-23 16:40] orliesaurus commented on #109
@mdakovac could you try to use your real domain instead of a sandbox domain and report back if that has fixed it? then we can update the docs!

[2021-06-29 21:49] orliesaurus commented on #108
Looks like it's an issue with mailgun.js

[2021-06-29 21:49] #108 closed

[2021-08-22 07:34] lazycoderinder commented on #109
I fixed this error like this=>
1. In the domain, add your app's url, Do not add https ,  for example => sample.herokuapp.com
2. and add another property url, here we have to add the mailgun api url. Refer to the example below

[code]

[2021-08-22 07:35] lazycoderinder commented on #109
I fixed this error like this=>

In the domain, add your app's url, Do not add https , for example => sample.herokuapp.com
and add another property url, here we have to add the mailgun api url. Refer to the example below
[code]

[2021-09-01 13:11] rbadr commented on #71
Hello @vinceprofeta 👋  I know this is an old ticket, but I was wondering, did you find a solution for this ? 😅

[2021-09-01 13:28] rbadr commented on #71
Hello @orliesaurus 👋 Do you know if it's possible ? Mailgun supports up to 3 tags per message

[2021-09-06 09:08] rbadr opened #112 "Multiple Tags support"
Hello 👋

Per the mailgun documentation, a message can have up to 3 tags. There is currently no way to add multiple tags since we pass options to nodemailer as an object (`o:tag`).

Is there any way ? Thanks.

[2021-09-06 12:37] #112 closed

[2021-11-17 15:25] amine-louni commented on #79
Any updates ?

[2022-03-04 19:06] jbenjoy2 opened #113 "mailgun-js requiring html or text field even when using template"
Hi there

I'm trying to get my mailgun template to send, but when I pass in the template name as the option, I get the following error:

`Error: Need at least one of 'text' or 'html' parameters specified`

When I do supply an argument, it overrides the use of the template.

Stack:
"express": "^4.17.1",
"mailgun-js": "^0.22.0",
"nodemailer": "^6.7.2",
"nodemailer-mailgun-transport": "^1.4.0",

Here

[2022-03-14 13:05] josethz00 commented on #79
any updates?

[2022-03-20 11:21] quantuminformation opened #115 "not able to build in a typescript project"
[code]

[2022-03-25 17:53] priscilaribeiro commented on #109
I had the same error...
The following structure solved it for me:

`const nodemailer = require("nodemailer")
const mg = require("nodemailer-mailgun-transport")

module.exports = async function(req, res){

const mailgunAuth = {
auth: {
api_key: "",
domain: "mydomain.com",
url: "https://api.mailgun.net/v3"
}
}

const smtpTransport = nodemailer.createTransport(mg(mailgunAuth))

smtpTransport.sendMail

[2022-05-02 20:39] epaminond opened #116 "Suppress Fetch API Experimental warning"
On project start I'm getting a warning:
[code]
It's node 18.0.0 and I assume this warning is coming from [mailgun.js bug](https://github.com/mailgun/mailgun.js/blob/e254977b02be3ee8733621d2634bd71b3ca1ab43/CHANGELOG.md#bug-fixes-18) that was fixed in mailgun.js 3.5.7.

nodemailer-mailgun-transport [depends on mailgun.js 3.3.0](https://github.com/orliesaurus/nodemailer-mailgun-transport/blob/master

[2022-05-09 13:50] 0x001122 opened #117 "Publish new version to npm"
Hello 👋

Would it please be possible to push a new version to npm? I'm especially interested in the new `timeout` option that has been introduced in https://github.com/orliesaurus/nodemailer-mailgun-transport/pull/111.

[2022-05-16 15:28] zacharytyhacz commented on #116
Related: https://github.com/mailgun/mailgun.js/issues/275

[2022-05-20 17:16] orliesaurus commented on #116
Feel free to open PRs to upgrade @zacharytyhacz or @epaminond

[2022-05-20 17:17] orliesaurus commented on #117
Sounds gucci

[2022-05-20 17:19] zacharytyhacz commented on #116
Mailgun just upgraded to version 7 with a fix

https://github.com/mailgun/mailgun.js/releases/tag/v7.0.0

[2022-05-30 15:30] #117 closed

[2022-05-30 22:38] orliesaurus commented on #117
my pleasure @0x001122 <3

[2022-07-18 11:23] rohanrajpal commented on #79
Facing the same issue :/

[2022-08-08 12:18] mechadragon01 commented on #79
Any updates?

[2022-09-14 10:24] kerberjg opened #121 "Broken on Node 18"
Whenever I try to send emails via this module from my application on Node >= 18, I get the following error:

[code]

Simply changing the Node version to 12 or 14 mitigates this, but it's not something we can use in production as we need the features of Node 18 for our project.

This is not a duplicate of #116, as in this case the email does not send at all, however the fix for both issues would be

[2022-10-03 17:07] orliesaurus commented on #121
@kerberjg - with the latest updates merged in and thank you sam-lord this should be fixed!

[2022-10-03 17:07] #121 closed

[2022-10-03 17:12] kerberjg commented on #121
Neat! Thanks a lot 😄✨